In [137]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [138]:
# Quesion 1 Soltuion
def get_wikipedia_tags(url):
    request = requests.get(url)
    Soup = BeautifulSoup(request.content)
    heading_tags = ["h1", "h2", "h3", "h4", 'h5', "h6", "h7"]
    for tags in Soup.find_all(heading_tags):
        print(tags.name + '->' + tags.text)

In [139]:
get_wikipedia_tags("https://en.wikipedia.org/wiki/Main_Page")

h1->Main Page
h1->Welcome to Wikipedia
h2->From today's featured article
h2->Did you know ...
h2->In the news
h2->On this day
h2->Today's featured picture
h2->Other areas of Wikipedia
h2->Wikipedia's sister projects
h2->Wikipedia languages
h2->Navigation menu
h3->
Personal tools

h3->
Namespaces

h3->
Views

h3->
Search

h3->
Navigation

h3->
Contribute

h3->
Tools

h3->
Print/export

h3->
In other projects

h3->
Languages

In [140]:
# Question 2 Solution
def get_imbd_data(url):
    request = requests.get(url)
    Soup = BeautifulSoup(request.content)
    titles = []
    years = []
    ratings = []
    for i,title in enumerate(Soup.find_all('td', class_="titleColumn")):
        name = title.find('a').text
        year = title.find('span').text[1:-1]
        titles.append(name)
        years.append(year)

        if i == 99:
            break

    for i, rating in enumerate(Soup.find_all('td', class_='ratingColumn imdbRating')):
        rat=rating.find('strong').text
        ratings.append(rat)
        if i==99:
            break

    movies_data= pd.DataFrame({'Title':titles, 'Year of Release': years, 'Rating':ratings})
    return movies_data

In [141]:
get_imbd_data("https://www.imdb.com/chart/top/?ref_=nv_mv_250")

                                  Title Year of Release Rating
0              The Shawshank Redemption            1994    9.2
1                         The Godfather            1972    9.2
2                       The Dark Knight            2008    9.0
3                 The Godfather Part II            1974    9.0
4                          12 Angry Men            1957    8.9
..                                  ...             ...    ...
95                               Jagten            2012    8.3
96                   North by Northwest            1959    8.3
97    M - Eine Stadt sucht einen Mörder            1931    8.3
98                              Vertigo            1958    8.2
99  Le fabuleux destin d'Amélie Poulain            2001    8.2

[100 rows x 3 columns]

In [142]:
# Question 3 Solution
def get_indian_imbd_data(url):
    request = requests.get(url)
    Soup = BeautifulSoup(request.content)
    titles = []
    years = []
    ratings = []
    for i,title in enumerate(Soup.find_all('td', class_="titleColumn")):
        name = title.find('a').text
        year = title.find('span').text[1:-1]
        titles.append(name)
        years.append(year)

        if i == 99:
            break

    for i, rating in enumerate(Soup.find_all('td', class_='ratingColumn imdbRating')):
        rat=rating.find('strong').text
        ratings.append(rat)
        if i==99:
            break

    movies_data= pd.DataFrame({'Title':titles, 'Year of Release': years, 'Rating':ratings})
    return movies_data

In [143]:
get_indian_imbd_data("https://www.imdb.com/india/top-rated-indian-movies/")

                          Title Year of Release Rating
0                      Jai Bhim            2021    8.4
1                    Anbe Sivam            2003    8.4
2                       Golmaal            1979    8.4
3                       Nayakan            1987    8.4
4             Pariyerum Perumal            2018    8.4
..                          ...             ...    ...
95                       Baasha            1995    8.0
96                       Masaan            2015    8.0
97                      Kahaani            2012    8.0
98  Baahubali 2: The Conclusion            2017    8.0
99               Dil Chahta Hai            2001    8.0

[100 rows x 3 columns]

In [144]:
# Question 4 Solution
def indian_presidents(url):
    request = requests.get(url)
    Soup = BeautifulSoup(request.content)

    for i, president in enumerate(Soup.find_all('div', class_='presidentListing')):
        name = president.find('h3').text
        term = president.find('p').text[16:-2]
        print(name, " ", term)
        
indian_presidents('https://presidentofindia.nic.in/former-presidents.htm')

Shri Pranab Mukherjee (1935-2020)   25 July, 2012 to 25 July, 201
Smt Pratibha Devisingh Patil (birth - 1934)   25 July, 2007 to 25 July, 201
DR. A.P.J. Abdul Kalam (1931-2015)   25 July, 2002 to 25 July, 200
Shri K. R. Narayanan (1920 - 2005)   25 July, 1997 to 25 July, 200
Dr Shankar Dayal Sharma (1918-1999)   25 July, 1992 to 25 July, 199
Shri R Venkataraman (1910-2009)   25 July, 1987 to 25 July, 199
Giani Zail Singh (1916-1994)   25 July, 1982 to 25 July, 198
Shri Neelam Sanjiva Reddy (1913-1996)   25 July, 1977 to 25 July, 198
Dr. Fakhruddin Ali Ahmed (1905-1977)   24 August, 1974 to 11 February, 19
Shri Varahagiri Venkata Giri (1894-1980)   3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 19
Dr. Zakir Husain (1897-1969)   13 May, 1967 to 3 May, 19
Dr. Sarvepalli Radhakrishnan (1888-1975)   13 May, 1962 to 13 May, 19
Dr. Rajendra Prasad (1884-1963)    26 January, 1950 to 13 May, 19

In [145]:
# Question 5 Solution
# Part 1
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
def top_ten_mens_odi_team(url):
    request = requests.get(url)
    Soup = BeautifulSoup(request.content)
    ranks = []
    names = []
    points = []
    ratings= []
    matches =[]
#     For rank 1 team
    top_data = Soup.find('tr', class_='rankings-block__banner')
    top_rank = top_data.find('td', class_='rankings-block__banner--pos').text
    top_name = top_data.find('span', class_='u-hide-phablet').text
    top_matches = top_data.find('td', class_='rankings-block__banner--matches').text
    top_points = top_data.find('td', class_='rankings-block__banner--points').text
    top_rating = int(top_data.find('td', class_='rankings-block__banner--rating').text[3:-2])
    ranks.append(top_rank)
    names.append(top_name)
    matches.append(top_matches)
    points.append(top_points)
    ratings.append(top_rating)
#     print(top_rank, " ", top_name, ' ', top_matches, ' ', top_points, ' ',top_rating)
# For rest Teams

    for i, data in enumerate(Soup.find_all('tr', class_='table-body')):
        if i==9:
            break
        rpr = data.find_all('td')
        rank = rpr[0].text
        match = rpr[2].text
        point = rpr[3].text
        rating = rpr[4].text
        name = data.find('span', class_='u-hide-phablet').text
        ranks.append(rank)
        names.append(name)
        matches.append(match)
        points.append(point)
        ratings.append(rating)

    odi_teams = pd.DataFrame({'Rank':ranks, 'Name':names, 'Matches':matches, 'Points':points, 'Ratings':ratings})
    return odi_teams
print("Men's ODI Team Rankings\n", top_ten_mens_odi_team(url))


#Part 2
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'

def top_ten_mens_batsman(url): 

    request = requests.get(url)
    Soup = BeautifulSoup(request.content)

    ranks = []
    names = []
    nations = []
    ratings = []
    batContainer = Soup.find('div', class_='rankings-block__container')
    toprank = int(batContainer.find('span', class_='rankings-block__pos-number').text)
    topname = batContainer.find('div', class_='rankings-block__banner--name').text
    topnation = batContainer.find('div', class_='rankings-block__banner--nationality').text[2:-5]
    toprating = batContainer.find('div', class_='rankings-block__banner--nationality').text[-4:-1]
    ranks.append(toprank)
    names.append(topname)
    nations.append(topnation)
    ratings.append(toprating)
    # print(toprank, " ", topname, " ", topnation, " ", toprating)

    for i, detail in enumerate(batContainer.find_all('tr', class_='table-body')):
        rank=int(detail.find('span', class_='rankings-table__pos-number').text)
        name = detail.find('td', class_='table-body__cell name').text[1:-1]
        nation = detail.find('td', class_='table-body__cell nationality-logo').text[2:-1]
        rating = int(detail.find('td', class_='table-body__cell u-text-right rating').text)
        ranks.append(rank)
        names.append(name)
        nations.append(nation)
        ratings.append(rating)
    odi_men_batsman = pd.DataFrame({'Rank':ranks, 'Name':names, 'Nationality':nations, 'Rating':ratings})
    return odi_men_batsman

print('Mens Batsman Rankings\n',top_ten_mens_batsman(url))
      
# Part 3 Solution      
def top_ten_mens_allrounder(url):
    request = requests.get(url)
    Soup = BeautifulSoup(request.content)

    ranks = []
    names = []
    nations = []
    ratings = []
    allContainer = Soup.find_all('div', class_='rankings-block__container')[1]
    toprank = int(allContainer.find('span', class_='rankings-block__pos-number').text)
    topname = allContainer.find('div', class_='rankings-block__banner--name').text
    topnation = allContainer.find('div', class_='rankings-block__banner--nationality').text[2:-5]
    toprating = allContainer.find('div', class_='rankings-block__banner--nationality').text[-4:-1]
    ranks.append(toprank)
    names.append(topname)
    nations.append(topnation)
    ratings.append(toprating)
    # print(toprank, " ", topname, " ", topnation, " ", toprating)

    for i, detail in enumerate(allContainer.find_all('tr', class_='table-body')):
        rank=int(detail.find('span', class_='rankings-table__pos-number').text)
        name = detail.find('td', class_='table-body__cell name').text[1:-1]
        nation = detail.find('td', class_='table-body__cell nationality-logo').text[2:-1]
        rating = int(detail.find('td', class_='table-body__cell u-text-right rating').text)
        ranks.append(rank)
        names.append(name)
        nations.append(nation)
        ratings.append(rating)
    odi_men_allrounder = pd.DataFrame({'Rank':ranks, 'Name':names, 'Nationality':nations, 'Rating':ratings})
    return odi_men_allrounder

print("Men's ODI Bowler Rankings\n",top_ten_mens_allrounder(url))

Men's ODI Team Rankings
   Rank          Name Matches Points Ratings
0    1   New Zealand      12  1,505     125
1    2       England      22  2,756     125
2    3      Pakistan      19  2,005     106
3    4         India      22  2,304     105
4    5     Australia      22  2,182      99
5    6  South Africa      19  1,872      99
6    7    Bangladesh      24  2,275      95
7    8     Sri Lanka      28  2,609      93
8    9   West Indies      32  2,306      72
9   10   Afghanistan      18  1,238      69
Mens Batsman Rankings
    Rank                   Name Nationality Rating
0     1             Babar Azam         PAK    892
1     2            Imam-ul-Haq         PAK    815
2     3            Virat Kohli         IND    811
3     4           Rohit Sharma         IND    791
4     5        Quinton de Kock          SA    789
5     6            Ross Taylor          NZ    775
6     7  Rassie van der Dussen          SA    769
7     8         Jonny Bairstow         ENG    760
8     9           David Warner         AUS    745
9    10            Aaron Finch         AUS    727
Men's ODI Bowler Rankings
    Rank              Name Nationality Rating
0     1       Trent Boult          NZ    726
1     2      Chris Woakes         ENG    686
2     3        Matt Henry          NZ    683
3     4    Shaheen Afridi         PAK    681
4     5    Jasprit Bumrah         IND    679
5     6  Mujeeb Ur Rahman         AFG    676
6     7    Josh Hazlewood         AUS    667
7     8      Mehedi Hasan         BAN    661
8     9     Mohammad Nabi         AFG    657
9    10   Shakib Al Hasan         BAN    657

In [148]:
# Question 6 Solution
# Part 1
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
def top_ten_Womens_odi_team(url):
    request = requests.get(url)
    Soup = BeautifulSoup(request.content)
    ranks = []
    names = []
    points = []
    ratings= []
    matches =[]
#     For rank 1 team
    top_data = Soup.find('tr', class_='rankings-block__banner')
    top_rank = top_data.find('td', class_='rankings-block__banner--pos').text
    top_name = top_data.find('span', class_='u-hide-phablet').text
    top_matches = top_data.find('td', class_='rankings-block__banner--matches').text
    top_points = top_data.find('td', class_='rankings-block__banner--points').text
    top_rating = int(top_data.find('td', class_='rankings-block__banner--rating').text[3:-2])
    ranks.append(top_rank)
    names.append(top_name)
    matches.append(top_matches)
    points.append(top_points)
    ratings.append(top_rating)
#     print(top_rank, " ", top_name, ' ', top_matches, ' ', top_points, ' ',top_rating)
# For rest Teams

    for i, data in enumerate(Soup.find_all('tr', class_='table-body')):
        if i==9:
            break
        rpr = data.find_all('td')
        rank = rpr[0].text
        match = rpr[2].text
        point = rpr[3].text
        rating = rpr[4].text
        name = data.find('span', class_='u-hide-phablet').text
        ranks.append(rank)
        names.append(name)
        matches.append(match)
        points.append(point)
        ratings.append(rating)

    odi_teams = pd.DataFrame({'Rank':ranks, 'Name':names, 'Matches':matches, 'Points':points, 'Ratings':ratings})
    return odi_teams
print("Women's ODI Team Rankings\n", top_ten_Womens_odi_team(url))


#Part 2
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'

def top_ten_Womens_batsman(url): 

    request = requests.get(url)
    Soup = BeautifulSoup(request.content)

    ranks = []
    names = []
    nations = []
    ratings = []
    batContainer = Soup.find('div', class_='rankings-block__container')
    toprank = int(batContainer.find('span', class_='rankings-block__pos-number').text)
    topname = batContainer.find('div', class_='rankings-block__banner--name').text
    topnation = batContainer.find('div', class_='rankings-block__banner--nationality').text[2:-5]
    toprating = batContainer.find('div', class_='rankings-block__banner--nationality').text[-4:-1]
    ranks.append(toprank)
    names.append(topname)
    nations.append(topnation)
    ratings.append(toprating)
    # print(toprank, " ", topname, " ", topnation, " ", toprating)

    for i, detail in enumerate(batContainer.find_all('tr', class_='table-body')):
        rank=int(detail.find('span', class_='rankings-table__pos-number').text)
        name = detail.find('td', class_='table-body__cell name').text[1:-1]
        nation = detail.find('td', class_='table-body__cell nationality-logo').text[2:-1]
        rating = int(detail.find('td', class_='table-body__cell u-text-right rating').text)
        ranks.append(rank)
        names.append(name)
        nations.append(nation)
        ratings.append(rating)
    odi_men_batsman = pd.DataFrame({'Rank':ranks, 'Name':names, 'Nationality':nations, 'Rating':ratings})
    return odi_men_batsman

print('Womens Batsman Rankings\n',top_ten_Womens_batsman(url))
      
# Part 3 Solution      
def top_ten_Womens_allrounder(url):
    request = requests.get(url)
    Soup = BeautifulSoup(request.content)

    ranks = []
    names = []
    nations = []
    ratings = []
    allContainer = Soup.find_all('div', class_='rankings-block__container')[2]
    toprank = int(allContainer.find('span', class_='rankings-block__pos-number').text)
    topname = allContainer.find('div', class_='rankings-block__banner--name').text
    topnation = allContainer.find('div', class_='rankings-block__banner--nationality').text[2:-5]
    toprating = allContainer.find('div', class_='rankings-block__banner--nationality').text[-4:-1]
    ranks.append(toprank)
    names.append(topname)
    nations.append(topnation)
    ratings.append(toprating)
    # print(toprank, " ", topname, " ", topnation, " ", toprating)

    for i, detail in enumerate(allContainer.find_all('tr', class_='table-body')):
        rank=int(detail.find('span', class_='rankings-table__pos-number').text)
        name = detail.find('td', class_='table-body__cell name').text[1:-1]
        nation = detail.find('td', class_='table-body__cell nationality-logo').text[2:-1]
        rating = int(detail.find('td', class_='table-body__cell u-text-right rating').text)
        ranks.append(rank)
        names.append(name)
        nations.append(nation)
        ratings.append(rating)
    odi_men_allrounder = pd.DataFrame({'Rank':ranks, 'Name':names, 'Nationality':nations, 'Rating':ratings})
    return odi_men_allrounder

print("Women's ODI all Rounder Rankings\n",top_ten_Womens_allrounder(url))

Women's ODI Team Rankings
   Rank          Name Matches Points Ratings
0    1     Australia      29  4,837     167
1    2  South Africa      32  3,949     123
2    3       England      30  3,531     118
3    4         India      29  2,889     100
4    5   New Zealand      31  3,019      97
5    6   West Indies      30  2,768      92
6    7    Bangladesh      12    930      78
7    8      Pakistan      30  1,962      65
8    9     Sri Lanka       8    384      48
9   10       Ireland       8    351      44
Womens Batsman Rankings
    Rank               Name Nationality Rating
0     1       Alyssa Healy         AUS    785
1     2     Natalie Sciver         ENG    750
2     3        Beth Mooney         AUS    748
3     4    Laura Wolvaardt          SA    713
4     5        Meg Lanning         AUS    710
5     6     Rachael Haynes         AUS    701
6     7  Amy Satterthwaite          NZ    681
7     8    Smriti Mandhana         IND    669
8     9     Tammy Beaumont         ENG    659
9    10       Ellyse Perry         AUS    642
Women's ODI all Rounder Rankings
    Rank              Name Nationality Rating
0     1    Natalie Sciver         ENG    393
1     2      Ellyse Perry         AUS    374
2     3   Hayley Matthews          WI    338
3     4    Marizanne Kapp          SA    338
4     5       Amelia Kerr          NZ    335
5     6  Ashleigh Gardner         AUS    269
6     7     Deepti Sharma         IND    249
7     8     Jess Jonassen         AUS    245
8     9         Sune Luus          SA    223
9    10   Katherine Brunt         ENG    221

In [149]:
# QUestion 7 Solution
url = 'https://www.cnbc.com/world/?region=world'
def get_news_data(url):
    request = requests.get(url)
    Soup = BeautifulSoup(request.content)
    headlines = []
    urls = []
    times = []

    for i, data in enumerate(Soup.find_all('li',class_='LatestNews-item')):
        title = data.find('a', href=True, class_='LatestNews-headline')
        headline = title.text
        link = title['href']
        time = data.find('time', class_='LatestNews-timestamp').text
        headlines.append(headline)
        urls.append(link)
        times.append(time)

    news = pd.DataFrame({'Headline':headlines, 'Time':times, 'Link':urls})
    return news
get_news_data(url)

,Headline,Time,Link
0,This 1st half ranks among the market’s worst o...,23 Min Ago,https://www.cnbc.com/2022/06/23/this-first-hal...
1,"What we can learn about inflation, consumers f...",32 Min Ago,https://www.cnbc.com/2022/06/23/investors-can-...
2,"How to save money at the pump, with or without...",33 Min Ago,https://www.cnbc.com/2022/06/23/how-to-save-mo...
3,Instagram is testing new ways for teens to ver...,1 Hour Ago,https://www.cnbc.com/2022/06/23/instagram-test...
4,Proposed changes to retirement system get appr...,1 Hour Ago,https://www.cnbc.com/2022/06/23/proposed-chang...
5,High inflation has 58% feeling insecure about ...,1 Hour Ago,https://www.cnbc.com/2022/06/23/as-inflation-r...
6,Supreme Court strikes down NY gun law restrict...,2 Hours Ago,https://www.cnbc.com/2022/06/23/supreme-court-...
7,FDA bans Juul e-cigarettes as government pursu...,2 Hours Ago,https://www.cnbc.com/2022/06/23/fda-bans-juul-...
8,Tax return backlog is still 'crushing the IRS’...,2 Hours Ago,https://www.cnbc.com/2022/06/23/tax-return-bac...
9,Education Department to cancel student loan de...,2 Hours Ago,https://www.cnbc.com/2022/06/23/education-depa...
10,Watch Jerome Powell testify to Congress on the...,2 Hours Ago,https://www.cnbc.com/2022/06/23/watch-jerome-p...
11,Jan. 6 hearing to spotlight Trump's pressure o...,3 Hours Ago,https://www.cnbc.com/2022/06/23/jan-6-hearing-...
12,Warren Buffett buys another $500 million of Oc...,3 Hours Ago,https://www.cnbc.com/2022/06/23/buffett-buys-5...
13,A 30-year Wall Street veteran on his tips for ...,3 Hours Ago,https://www.cnbc.com/2022/06/23/30-year-wall-s...
14,Chinese EV maker Nio says a car fell from thir...,3 Hours Ago,https://www.cnbc.com/2022/06/23/nio-car-falls-...
15,"JPMorgan sees no recession, 28% S&P 500 comeba...",3 Hours Ago,https://www.cnbc.com/2022/06/23/jpmorgan-midye...
16,Chipotle restaurant in Maine becomes chain's f...,3 Hours Ago,https://www.cnbc.com/2022/06/23/chipotle-resta...
17,"JPMorgan upgrades Funko, says toy stock has up...",3 Hours Ago,https://www.cnbc.com/2022/06/23/jpmorgan-upgra...
18,What Cramer is watching Thursday — Meta's big ...,3 Hours Ago,https://www.cnbc.com/2022/06/23/cramer-thursda...
19,What Biden's upcoming student loan forgiveness...,3 Hours Ago,https://www.cnbc.com/2022/06/23/what-bidens-st...
20,Bethenny Frankel's top spending advice: 'It ha...,3 Hours Ago,https://www.cnbc.com/2022/06/23/bethenny-frank...
21,Forget Silicon Valley—these 10 small towns are...,4 Hours Ago,https://www.cnbc.com/2022/06/23/10-small-citie...
22,4 side hustles for recent college graduates: O...,4 Hours Ago,https://www.cnbc.com/2022/06/23/side-hustles-f...
23,United Airlines will cut 12% of Newark flights...,4 Hours Ago,https://www.cnbc.com/2022/06/23/united-airline...
24,5 things to know before the stock market opens...,4 Hours Ago,https://www.cnbc.com/2022/06/23/5-things-to-kn...
25,"Thursday's biggest analyst calls: Snowflake, S...",4 Hours Ago,https://www.cnbc.com/2022/06/23/thursdays-anal...
26,Can media companies weather a recession? Their...,5 Hours Ago,https://www.cnbc.com/2022/06/23/media-executiv...
27,Stocks making the biggest moves premarket: Acc...,5 Hours Ago,https://www.cnbc.com/2022/06/23/stocks-making-...
28,"BofA cuts Netflix price target, warns of highe...",5 Hours Ago,https://www.cnbc.com/2022/06/23/bank-of-americ...
29,Olive Garden's parent company Darden beats ear...,5 Hours Ago,https://www.cnbc.com/2022/06/23/darden-restaur...

In [150]:
# Question 8 Solution

url = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
def get_ai_articles(url):
    request = requests.get(url)
    Soup = BeautifulSoup(request.content)
    titles = []
    links=[]
    authors = []
    times = []
    for i,data in enumerate(Soup.find_all('li', class_='sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp')):
        name = data.find('h2', class_='sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR').text
        link = data.find('a', href=True,class_='sc-5smygv-0 nrDZj')['href']
        author = data.find('span', class_='sc-1w3fpd7-0 pgLAT').text
        time = data.find('span', class_='sc-1thf9ly-2 bKddwo').text
        titles.append(name)
        links.append(link)
        authors.append(author)
        times.append(time)

    articles = pd.DataFrame({'Title':titles, 'Authors':authors, 'URL':links, 'Time':times})
    return articles
get_ai_articles(url)

,Title,Authors,URL,Time
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",https://www.sciencedirect.com/science/article/...,October 2021
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",https://www.sciencedirect.com/science/article/...,October 2021
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",https://www.sciencedirect.com/science/article/...,October 2015
3,Creativity and artificial intelligence,"Boden, Margaret A.",https://www.sciencedirect.com/science/article/...,August 1998
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",https://www.sciencedirect.com/science/article/...,June 2017
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",https://www.sciencedirect.com/science/article/...,February 2019
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",https://www.sciencedirect.com/science/article/...,April 2021
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",https://www.sciencedirect.com/science/article/...,February 2015
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",https://www.sciencedirect.com/science/article/...,August 1999
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",https://www.sciencedirect.com/science/article/...,March 2020
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",https://www.sciencedirect.com/science/article/...,February 2021
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",https://www.sciencedirect.com/science/article/...,October 2007
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",https://www.sciencedirect.com/science/article/...,August 2016
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",https://www.sciencedirect.com/science/article/...,April 2021
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",https://www.sciencedirect.com/science/article/...,December 1997
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",https://www.sciencedirect.com/science/article/...,August 2021
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",https://www.sciencedirect.com/science/article/...,September 2021
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",https://www.sciencedirect.com/science/article/...,June 2021
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",https://www.sciencedirect.com/science/article/...,December 2016
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",https://www.sciencedirect.com/science/article/...,September 2021
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",https://www.sciencedirect.com/science/article/...,May 2021
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",https://www.sciencedirect.com/science/article/...,January 2014
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",https://www.sciencedirect.com/science/article/...,December 1997
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",https://www.sciencedirect.com/science/article/...,October 2021
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",https://www.sciencedirect.com/science/article/...,February 2010

In [151]:
# Question 9 Solution
url = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'
def get_restaurants_data(url):
    request = requests.get(url)
    Soup = BeautifulSoup(request.content)

    names = []
    ratings = []
    cuisines = []
    locations = []
    imageURLS=[]

    for i, data in enumerate(Soup.find_all('div', class_='restnt-main-wrap clearfix')):
        name = data.find('a', class_='restnt-name ellipsis').text
        rating = data.find('div', class_='restnt-rating rating-4 hide').text
        cuisine = data.find('span', class_='double-line-ellipsis').text[25:]
        location = data.find('div', class_='restnt-loc ellipsis').text
        imageURL = data.find(class_='no-img')['data-src']

        names.append(name)
        ratings.append(rating)
        cuisines.append(cuisine)
        locations.append(location)
        imageURLS.append(imageURL)
    restaurants = pd.DataFrame({'Name':names, 'Cuisine':cuisines, 'Location':locations, 'Ratings':ratings, 'ImageURL':imageURLS})
    return restaurants
get_restaurants_data(url)

,Name,Cuisine,Location,Ratings,ImageURL
0,Castle Barbeque,"North Indian, Chinese","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4.3,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"North Indian, Italian","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,rth Indian,"Sector 29, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"North Indian, Mughlai, Desserts, Beverages","NIT, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"European, Italian, Asian, Continental","DoubleTree By Hilton Gurugram Baani Square,Sec...",4.3,https://im1.dineout.co.in/images/uploads/resta...

In [152]:
# Question 10 Solution
url = 'https://scholar.google.com/citations?view_op=top_venues&hl=en'
def get_publications(url):
    request = requests.get(url)
    Soup = BeautifulSoup(request.content)
    ranks = []
    titles = []
    h5is = []
    h5ms = []
    table = Soup.find('table', class_='gsc_mp_table')
    for i,data in enumerate(table.find_all('tr')):
        if i==0:
            continue
        ranks.append(data.find(class_='gsc_mvt_p').text)
        titles.append(data.find(class_='gsc_mvt_t').text)
        h5is.append(data.find_all(class_='gsc_mvt_n')[0].text)
        h5ms.append(data.find_all(class_='gsc_mvt_n')[1].text)
    publications = pd.DataFrame({'Rank':ranks, 'Title':titles, 'H5 index':h5is, 'H5 Median':h5ms})
    return publications
get_publications(url)

    Rank                                              Title H5 index H5 Median
0     1.                                             Nature      414       607
1     2.                The New England Journal of Medicine      410       704
2     3.                                            Science      391       564
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      356       583
4     5.                                         The Lancet      345       600
..   ...                                                ...      ...       ...
95   96.                            Frontiers in Immunology      134       177
96   97.                                              Small      134       173
97   98.                                  Nature Immunology      133       210
98   99.                                      JAMA Oncology      133       202
99  100.                               The Lancet Neurology      133       200

[100 rows x 4 columns]